# azure-pipelines-frontend.yml
trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/SaveTheCat.Frontend/**' # Solo se ejecuta si cambias el front

variables:
  # Ruta ajustada a tu carpeta
  appLocation: 'simonholmquist/savethecat/SaveTheCat-dc704d3aa211fc901c211a433a3434a787c7aaa1/SaveTheCat.Frontend'
  outputLocation: 'dist'

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  submodules: true

- task: AzureStaticWebApp@0
  displayName: 'Build and Deploy Frontend'
  inputs:
    app_location: '$(appLocation)'
    output_location: '$(outputLocation)'
    # El token se debe configurar en las variables del pipeline (ver abajo)
    azure_static_web_apps_api_token: $(deployment_token)