# azure-pipelines-backend.yml
trigger:
  branches:
    include:
      - main
  paths:
    include:
      - '**/SaveTheCat.Backend/**' # Solo se ejecuta si cambias el backend

variables:
  # Rutas basadas en tu estructura de carpetas subida
  backendRoot: 'simonholmquist/savethecat/SaveTheCat.Backend'
  buildConfiguration: 'Release'
  azureSubscription: 'savethecat-prod-sc' # NOMBRE DE TU SERVICE CONNECTION
  webAppName: 'savethecat-prod-api-001'

pool:
  vmImage: 'windows-latest'

steps:
# 1. Instalar herramienta para migraciones (Entity Framework)
- task: DotNetCoreCLI@2
  displayName: 'Install EF Core Tool'
  inputs:
    command: custom
    custom: tool
    arguments: 'install --global dotnet-ef'

# 2. Restaurar paquetes
- task: DotNetCoreCLI@2
  displayName: 'Restore Packages'
  inputs:
    command: 'restore'
    projects: '$(backendRoot)/SaveTheCat.Api/SaveTheCat.Api.csproj'

# 3. Compilar
- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '$(backendRoot)/SaveTheCat.Api/SaveTheCat.Api.csproj'
    arguments: '--configuration $(buildConfiguration) --no-restore'

# 4. Generar bundle de migraciones (crea un .exe para actualizar la DB)
- task: CmdLine@2
  displayName: 'Build Migration Bundle'
  inputs:
    script: |
      cd $(backendRoot)/SaveTheCat.Api
      dotnet ef migrations bundle --self-contained -r win-x64 -o $(Build.ArtifactStagingDirectory)/efbundle.exe

# 5. Publicar API (Zip)
- task: DotNetCoreCLI@2
  displayName: 'Publish API'
  inputs:
    command: 'publish'
    projects: '$(backendRoot)/SaveTheCat.Api/SaveTheCat.Api.csproj'
    publishWebProjects: false
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/drop --runtime win-x64 --self-contained false'
    zipAfterPublish: true

# 6. Desplegar al App Service
- task: AzureWebApp@1
  displayName: 'Deploy API to Azure'
  inputs:
    azureSubscription: '$(azureSubscription)'
    appType: 'webApp'
    appName: '$(webAppName)'
    package: '$(Build.ArtifactStagingDirectory)/drop/*.zip'

# 7. Ejecutar Migraciones en SQL Database
- task: AzureCLI@2
  displayName: 'Update Database Schema'
  inputs:
    azureSubscription: '$(azureSubscription)'
    scriptType: 'pscore'
    scriptLocation: 'inlineScript'
    inlineScript: |
      # Obtiene la connection string configurada en el App Service en Azure
      $conn = az webapp config connection-string list --resource-group savethecat-prod-rg --name $(webAppName) --query "[?name=='DefaultConnection'].value" -o tsv
      
      # Ejecuta el actualizador de base de datos
      & "$(Build.ArtifactStagingDirectory)/efbundle.exe" --connection "$conn"